<div class="container-fluid">
    <div class="row">
        <div style="background-color: #303030; height: 93vh;" class="col-md-3">
            <div>
                <mat-card class="mt-3">
                    <form [formGroup]="todoForm">
                        <mat-form-field appearance="outline">
                            <mat-label>Outline form field</mat-label>
                            <input formControlName="item" matInput placeholder="Placeholder">
                            <mat-hint>Add task name</mat-hint>
                        </mat-form-field>
                        <button (click)="addTask()" [disabled]="todoForm.invalid" mat-raised-button color="primary">Add</button>
                    </form>
                </mat-card>
            </div>
        </div>
        <div class="col-md-9">
            <div cdkDropListGroup>
                <div class="row">
                    <div class="col-md-4">
                        <!-- to do -->
                        <div class="example-container">
                            <h2>TO DO</h2>
                        
                            <div
                              cdkDropList
                              [cdkDropListData]="tasks"
                              class="example-list"
                              (cdkDropListDropped)="drop($event)">
                              <div class="example-box" *ngFor="let item of tasks" cdkDrag>{{item.description}}</div>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-4">
                        <!-- in progress -->
                        <div class="example-container">
                            <h2>IN PROGRESS</h2>
                        
                            <div
                              cdkDropList
                              [cdkDropListData]="inprogress"
                              class="example-list"
                              (cdkDropListDropped)="drop($event)">
                              <div class="example-box" *ngFor="let item of inprogress" cdkDrag>{{item.description}}</div>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-4">
                        <!-- done -->
                        <div class="example-container">
                            <h2>DONE</h2>
                        
                            <div
                              cdkDropList
                              [cdkDropListData]="done"
                              class="example-list"
                              (cdkDropListDropped)="drop($event)">
                              <div class="example-box" *ngFor="let item of done" cdkDrag>{{item.description}}</div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>