// .example-card {
//     max-width: 400px;
//   }
  
//   .example-header-image {
//     background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//     background-size: cover;
//   }
  


mat-grid-tile {
    background: #fff;
    border: 2px solid #1d212b;
    margin: 0 auto;
  }
  